
/***** Background color presets *****/
/*** Fill color ***/

[data-fill-color="var"]       { background-color: var( --fill-color           ); }
[data-fill-color="default"]   { background-color: var( --fill-color-default   ); }
[data-fill-color="highlight"] { background-color: var( --fill-color-highlight ); }
[data-fill-color="invert"]    { background-color: var( --fill-color-invert    ); }
[data-fill-color="muted"]     { background-color: var( --fill-color-muted     ); }
[data-fill-color="primary"]   { background-color: var( --fill-color-primary   ); }
[data-fill-color="secondary"] { background-color: var( --fill-color-secondary ); }
[data-fill-color="tertiary"]  { background-color: var( --fill-color-tertiary  ); }
[data-fill-color="success"]   { background-color: var( --fill-color-success   ); }
[data-fill-color="warning"]   { background-color: var( --fill-color-warning   ); }

/*** Fill color ***/

/*** Fill pattern ***/

[data-fill-color="var"][data-fill-pattern="striped"]       { background: repeating-linear-gradient(45deg, var( --fill-color           ), var( --fill-color           ) 10px, transparent 10px, transparent 20px ); }
[data-fill-color="default"][data-fill-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --fill-color-default   ), var( --fill-color-default   ) 10px, transparent 10px, transparent 20px ); }
[data-fill-color="highlight"][data-fill-pattern="striped"] { background: repeating-linear-gradient(45deg, var( --fill-color-highlight ), var( --fill-color-highlight ) 10px, transparent 10px, transparent 20px ); }
[data-fill-color="invert"][data-fill-pattern="striped"]    { background: repeating-linear-gradient(45deg, var( --fill-color-invert    ), var( --fill-color-invert    ) 10px, transparent 10px, transparent 20px ); }
[data-fill-color="muted"][data-fill-pattern="striped"]     { background: repeating-linear-gradient(45deg, var( --fill-color-muted     ), var( --fill-color-muted     ) 10px, transparent 10px, transparent 20px ); }
[data-fill-color="primary"][data-fill-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --fill-color-primary   ), var( --fill-color-primary   ) 10px, transparent 10px, transparent 20px ); }
[data-fill-color="secondary"][data-fill-pattern="striped"] { background: repeating-linear-gradient(45deg, var( --fill-color-secondary ), var( --fill-color-secondary ) 10px, transparent 10px, transparent 20px ); }
[data-fill-color="tertiary"][data-fill-pattern="striped"]  { background: repeating-linear-gradient(45deg, var( --fill-color-tertiary  ), var( --fill-color-tertiary  ) 10px, transparent 10px, transparent 20px ); }
[data-fill-color="success"][data-fill-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --fill-color-success   ), var( --fill-color-success   ) 10px, transparent 10px, transparent 20px ); }
[data-fill-color="warning"][data-fill-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --fill-color-warning   ), var( --fill-color-warning   ) 10px, transparent 10px, transparent 20px ); }

/*** Fill pattern ***/

/*** Highlight color ***/

[data-highlighted="true"][data-highlight-color="var"]       { background-color: var( --highlight-color           ); }
[data-highlighted="true"][data-highlight-color="default"]   { background-color: var( --highlight-color-default   ); }
[data-highlighted="true"][data-highlight-color="highlight"] { background-color: var( --highlight-color-highlight ); }
[data-highlighted="true"][data-highlight-color="invert"]    { background-color: var( --highlight-color-invert    ); }
[data-highlighted="true"][data-highlight-color="muted"]     { background-color: var( --highlight-color-muted     ); }
[data-highlighted="true"][data-highlight-color="primary"]   { background-color: var( --highlight-color-primary   ); }
[data-highlighted="true"][data-highlight-color="secondary"] { background-color: var( --highlight-color-secondary ); }
[data-highlighted="true"][data-highlight-color="tertiary"]  { background-color: var( --highlight-color-tertiary  ); }
[data-highlighted="true"][data-highlight-color="success"]   { background-color: var( --highlight-color-success   ); }
[data-highlighted="true"][data-highlight-color="warning"]   { background-color: var( --highlight-color-warning   ); }

/*** Highlight color ***/

/*** Highlight pattern ***/

[data-highlight-color="var"][data-highlight-pattern="striped"]       { background: repeating-linear-gradient(45deg, var( --highlight-color           ), var( --highlight-color           ) 10px, transparent 10px, transparent 20px ); }
[data-highlight-color="default"][data-highlight-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --highlight-color-default   ), var( --highlight-color-default   ) 10px, transparent 10px, transparent 20px ); }
[data-highlight-color="highlight"][data-highlight-pattern="striped"] { background: repeating-linear-gradient(45deg, var( --highlight-color-highlight ), var( --highlight-color-highlight ) 10px, transparent 10px, transparent 20px ); }
[data-highlight-color="invert"][data-highlight-pattern="striped"]    { background: repeating-linear-gradient(45deg, var( --highlight-color-invert    ), var( --highlight-color-invert    ) 10px, transparent 10px, transparent 20px ); }
[data-highlight-color="muted"][data-highlight-pattern="striped"]     { background: repeating-linear-gradient(45deg, var( --highlight-color-muted     ), var( --highlight-color-muted     ) 10px, transparent 10px, transparent 20px ); }
[data-highlight-color="primary"][data-highlight-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --highlight-color-primary   ), var( --highlight-color-primary   ) 10px, transparent 10px, transparent 20px ); }
[data-highlight-color="secondary"][data-highlight-pattern="striped"] { background: repeating-linear-gradient(45deg, var( --highlight-color-secondary ), var( --highlight-color-secondary ) 10px, transparent 10px, transparent 20px ); }
[data-highlight-color="tertiary"][data-highlight-pattern="striped"]  { background: repeating-linear-gradient(45deg, var( --highlight-color-tertiary  ), var( --highlight-color-tertiary  ) 10px, transparent 10px, transparent 20px ); }
[data-highlight-color="success"][data-highlight-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --highlight-color-success   ), var( --highlight-color-success   ) 10px, transparent 10px, transparent 20px ); }
[data-highlight-color="warning"][data-highlight-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --highlight-color-warning   ), var( --highlight-color-warning   ) 10px, transparent 10px, transparent 20px ); }

/*** Highlight pattern ***/

/*** Hover color ***/

[data-hover-color="var"]:hover       { background-color: var( --hover-color           ); }
[data-hover-color="default"]:hover   { background-color: var( --hover-color-default   ); }
[data-hover-color="highlight"]:hover { background-color: var( --hover-color-highlight ); }
[data-hover-color="invert"]:hover    { background-color: var( --hover-color-invert    ); }
[data-hover-color="muted"]:hover     { background-color: var( --hover-color-muted     ); }
[data-hover-color="primary"]:hover   { background-color: var( --hover-color-primary   ); }
[data-hover-color="secondary"]:hover { background-color: var( --hover-color-secondary ); }
[data-hover-color="tertiary"]:hover  { background-color: var( --hover-color-tertiary  ); }
[data-hover-color="success"]:hover   { background-color: var( --hover-color-success   ); }
[data-hover-color="warning"]:hover   { background-color: var( --hover-color-warning   ); }

/*** Hover color ***/

/*** Hover pattern ***/

[data-hover-color="var"][data-hover-pattern="striped"]       { background: repeating-linear-gradient(45deg, var( --hover-color           ), var( --hover-color           ) 10px, transparent 10px, transparent 20px ); }
[data-hover-color="default"][data-hover-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --hover-color-default   ), var( --hover-color-default   ) 10px, transparent 10px, transparent 20px ); }
[data-hover-color="highlight"][data-hover-pattern="striped"] { background: repeating-linear-gradient(45deg, var( --hover-color-highlight ), var( --hover-color-highlight ) 10px, transparent 10px, transparent 20px ); }
[data-hover-color="invert"][data-hover-pattern="striped"]    { background: repeating-linear-gradient(45deg, var( --hover-color-invert    ), var( --hover-color-invert    ) 10px, transparent 10px, transparent 20px ); }
[data-hover-color="muted"][data-hover-pattern="striped"]     { background: repeating-linear-gradient(45deg, var( --hover-color-muted     ), var( --hover-color-muted     ) 10px, transparent 10px, transparent 20px ); }
[data-hover-color="primary"][data-hover-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --hover-color-primary   ), var( --hover-color-primary   ) 10px, transparent 10px, transparent 20px ); }
[data-hover-color="secondary"][data-hover-pattern="striped"] { background: repeating-linear-gradient(45deg, var( --hover-color-secondary ), var( --hover-color-secondary ) 10px, transparent 10px, transparent 20px ); }
[data-hover-color="tertiary"][data-hover-pattern="striped"]  { background: repeating-linear-gradient(45deg, var( --hover-color-tertiary  ), var( --hover-color-tertiary  ) 10px, transparent 10px, transparent 20px ); }
[data-hover-color="success"][data-hover-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --hover-color-success   ), var( --hover-color-success   ) 10px, transparent 10px, transparent 20px ); }
[data-hover-color="warning"][data-hover-pattern="striped"]   { background: repeating-linear-gradient(45deg, var( --hover-color-warning   ), var( --hover-color-warning   ) 10px, transparent 10px, transparent 20px ); }

/*** Hover pattern ***/
/***** Background color presets *****/
