
/***** Visibility presets *****/
/*** Opacity ***/

[data-opacity="var"]    { opacity: var( --opacity ); }
[data-opacity="full"]   { opacity: 1.0;                }
[data-opacity="hard"]   { opacity: 0.8;                }
[data-opacity="medium"] { opacity: 0.6;                }
[data-opacity="soft"]   { opacity: 0.4;                }

/*** Opacity ***/
/***** Visibility presets *****/
