
/***** Green palette *****/
/*** Hard green ***/

body {
  --hard-green-xx-dark:  rgb( 050, 225, 000 );
  --hard-green-x-dark:   rgb( 060, 235, 010 );
  --hard-green-dark:     rgb( 070, 245, 020 );
  --hard-green:          rgb( 080, 255, 030 );
  --hard-green-light:    rgb( 090, 255, 040 );
  --hard-green-x-light:  rgb( 100, 255, 050 );
  --hard-green-xx-light: rgb( 110, 255, 060 );
}

/*** Hard green ***/

/*** Khaki green ***/

body {
  --khaki-green-xx-dark:  rgb( 130, 170, 150 );
  --khaki-green-x-dark:   rgb( 140, 180, 160 );
  --khaki-green-dark:     rgb( 150, 190, 170 );
  --khaki-green:          rgb( 160, 200, 180 );
  --khaki-green-light:    rgb( 170, 210, 190 );
  --khaki-green-x-light:  rgb( 180, 220, 200 );
  --khaki-green-xx-light: rgb( 190, 230, 210 );
}

/*** Khaki green ***/

/*** Soft green ***/

body {
  --soft-green-xx-dark:  rgb( 050, 225, 110 );
  --soft-green-x-dark:   rgb( 060, 235, 120 );
  --soft-green-dark:     rgb( 070, 245, 130 );
  --soft-green:          rgb( 080, 255, 140 );
  --soft-green-light:    rgb( 090, 255, 150 );
  --soft-green-x-light:  rgb( 100, 255, 160 );
  --soft-green-xx-light: rgb( 110, 255, 170 );
}

/*** Soft green ***/
/***** Green palette *****/
