
/***** Red palette *****/
/*** Hard red ***/

body {
  --hard-red-xx-dark:  rgb( 235, 000, 100 );
  --hard-red-x-dark:   rgb( 245, 000, 110 );
  --hard-red-dark:     rgb( 245, 000, 120 );
  --hard-red:          rgb( 255, 000, 130 );
  --hard-red-light:    rgb( 255, 010, 140 );
  --hard-red-x-light:  rgb( 255, 020, 150 );
  --hard-red-xx-light: rgb( 255, 030, 160 );
}

/*** Hard red ***/

/*** Soft red ***/

body {
  --soft-red-xx-dark:  rgb( 235, 060, 100 );
  --soft-red-x-dark:   rgb( 245, 070, 110 );
  --soft-red-dark:     rgb( 245, 080, 120 );
  --soft-red:          rgb( 255, 090, 130 );
  --soft-red-light:    rgb( 255, 100, 140 );
  --soft-red-x-light:  rgb( 255, 110, 150 );
  --soft-red-xx-light: rgb( 255, 120, 160 );
}

/*** Soft red ***/
/***** Red palette *****/
