
/***** Stroke profiles *****/
/*** Stroke width ***/

body {
  --stroke-width-xxs: var(--border-width-xxs );
  --stroke-width-xs:  var(--border-width-xs  );
  --stroke-width-s:   var(--border-width-s   );
  --stroke-width-m:   var(--border-width-m   );
  --stroke-width-l:   var(--border-width-l   );
  --stroke-width-xl:  var(--border-width-xl  );
  --stroke-width-xxl: var(--border-width-xxl );
  --stroke-width-3xl: var(--border-width-3xl );
  --stroke-width-4xl: var(--border-width-4xl );
  --stroke-width-5xl: var(--border-width-5xl );
}

/*** Stroke width ***/
/***** Stroke profiles *****/
