
/***** Overlay presets *****/
/*** Overlay ***/

[data-overlay="cover"]::before {
  content:  '';
  height:   100%;
  left:     0;
  position: absolute;
  top:      0;
  width:    100%;
}

/*** Overlay ***/

/*** Overlay color ***/

[data-overlay-color="var"]::before       { background-color: var( --overlay-color           ); }
[data-overlay-color="default"]::before   { background-color: var( --overlay-color-default   ); }
[data-overlay-color="highlight"]::before { background-color: var( --overlay-color-highlight ); }
[data-overlay-color="invert"]::before    { background-color: var( --overlay-color-invert    ); }
[data-overlay-color="muted"]::before     { background-color: var( --overlay-color-muted     ); }
[data-overlay-color="primary"]::before   { background-color: var( --overlay-color-primary   ); }
[data-overlay-color="secondary"]::before { background-color: var( --overlay-color-secondary ); }
[data-overlay-color="tertiary"]::before  { background-color: var( --overlay-color-tertiary  ); }
[data-overlay-color="success"]::before   { background-color: var( --overlay-color-success   ); }
[data-overlay-color="warning"]::before   { background-color: var( --overlay-color-warning   ); }

/*** Overlay color ***/

/*** Overlay opacity ***/

[data-overlay-opacity="var"]::before    { opacity: var( --overlay-opacity ); }
[data-overlay-opacity="full"]::before   { opacity: 1.0; }
[data-overlay-opacity="hard"]::before   { opacity: 0.8; }
[data-overlay-opacity="medium"]::before { opacity: 0.6; }
[data-overlay-opacity="soft"]::before   { opacity: 0.4; }

/*** Overlay opacity ***/
/***** Overlay presets *****/
