
{:paths ["resources" "source-code/cljc"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "fa570cb14ff958b9dc3d16649ab14c21d113e655"}
         org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
