
/***** Size profiles *****/
/*** Quarter block height ***/

body {
  --quarter-block-height-xxs:  6px;
  --quarter-block-height-xs:  12px;
  --quarter-block-height-s:   18px;
  --quarter-block-height-m:   24px;
  --quarter-block-height-l:   30px;
  --quarter-block-height-xl:  36px;
  --quarter-block-height-xxl: 42px;
  --quarter-block-height-3xl: 48px;
  --quarter-block-height-4xl: 54px;
  --quarter-block-height-5xl: 60px;
}

/*** Quarter block height ***/

/*** Quarter block width ***/

body {
  --quarter-block-width-xxs: var( --quarter-block-height-xxs );
  --quarter-block-width-xs:  var( --quarter-block-height-xs  );
  --quarter-block-width-s:   var( --quarter-block-height-s   );
  --quarter-block-width-m:   var( --quarter-block-height-m   );
  --quarter-block-width-l:   var( --quarter-block-height-l   );
  --quarter-block-width-xl:  var( --quarter-block-height-xl  );
  --quarter-block-width-xxl: var( --quarter-block-height-xxl );
  --quarter-block-width-3xl: var( --quarter-block-height-3xl );
  --quarter-block-width-4xl: var( --quarter-block-height-4xl );
  --quarter-block-width-5xl: var( --quarter-block-height-5xl );
}

/*** Quarter block width ***/

/*** Half block height ***/

body {
  --half-block-height-xxs:  12px;
  --half-block-height-xs:   24px;
  --half-block-height-s:    36px;
  --half-block-height-m:    48px;
  --half-block-height-l:    60px;
  --half-block-height-xl:   72px;
  --half-block-height-xxl:  84px;
  --half-block-height-3xl:  96px;
  --half-block-height-4xl: 108px;
  --half-block-height-5xl: 120px;
}

/*** Half block height ***/

/*** Half block width ***/

body {
  --half-block-width-xxs: var( --half-block-height-xxs );
  --half-block-width-xs:  var( --half-block-height-xs  );
  --half-block-width-s:   var( --half-block-height-s   );
  --half-block-width-m:   var( --half-block-height-m   );
  --half-block-width-l:   var( --half-block-height-l   );
  --half-block-width-xl:  var( --half-block-height-xl  );
  --half-block-width-xxl: var( --half-block-height-xxl );
  --half-block-width-3xl: var( --half-block-height-3xl );
  --half-block-width-4xl: var( --half-block-height-4xl );
  --half-block-width-5xl: var( --half-block-height-5xl );
}

/*** Half block width ***/

/*** Full block height ***/

body {
  --full-block-height-xxs:  24px;
  --full-block-height-xs:   48px;
  --full-block-height-s:    72px;
  --full-block-height-m:    96px;
  --full-block-height-l:   120px;
  --full-block-height-xl:  144px;
  --full-block-height-xxl: 168px;
  --full-block-height-3xl: 192px;
  --full-block-height-4xl: 216px;
  --full-block-height-5xl: 240px;
}

/*** Full block height ***/

/*** Full block width ***/

body {
  --full-block-width-xxs: var( --full-block-height-xxs );
  --full-block-width-xs:  var( --full-block-height-xs  );
  --full-block-width-s:   var( --full-block-height-s   );
  --full-block-width-m:   var( --full-block-height-m   );
  --full-block-width-l:   var( --full-block-height-l   );
  --full-block-width-xl:  var( --full-block-height-xl  );
  --full-block-width-xxl: var( --full-block-height-xxl );
  --full-block-width-3xl: var( --full-block-height-3xl );
  --full-block-width-4xl: var( --full-block-height-4xl );
  --full-block-width-5xl: var( --full-block-height-5xl );
}

/*** Full block width ***/

/*** Double block height ***/

body {
  --double-block-height-xxs:  48px;
  --double-block-height-xs:   96px;
  --double-block-height-s:   144px;
  --double-block-height-m:   192px;
  --double-block-height-l:   240px;
  --double-block-height-xl:  288px;
  --double-block-height-xxl: 336px;
  --double-block-height-3xl: 384px;
  --double-block-height-4xl: 432px;
  --double-block-height-5xl: 480px;
}

/*** Double block height ***/

/*** Double block width ***/

body {
  --double-block-width-xxs: var( --double-block-height-xxs );
  --double-block-width-xs:  var( --double-block-height-xs  );
  --double-block-width-s:   var( --double-block-height-s   );
  --double-block-width-m:   var( --double-block-height-m   );
  --double-block-width-l:   var( --double-block-height-l   );
  --double-block-width-xl:  var( --double-block-height-xl  );
  --double-block-width-xxl: var( --double-block-height-xxl );
  --double-block-width-3xl: var( --double-block-height-3xl );
  --double-block-width-4xl: var( --double-block-height-4xl );
  --double-block-width-5xl: var( --double-block-height-5xl );
}

/*** Double block width ***/

/*** Triple block height ***/

body {
  --triple-block-height-xxs:  72px;
  --triple-block-height-xs:  144px;
  --triple-block-height-s:   216px;
  --triple-block-height-m:   288px;
  --triple-block-height-l:   360px;
  --triple-block-height-xl:  432px;
  --triple-block-height-xxl: 504px;
  --triple-block-height-3xl: 576px;
  --triple-block-height-4xl: 648px;
  --triple-block-height-5xl: 720px;
}

/*** Triple block height ***/

/*** Triple block width ***/

body {
  --triple-block-width-xxs: var( --triple-block-height-xxs );
  --triple-block-width-xs:  var( --triple-block-height-xs  );
  --triple-block-width-s:   var( --triple-block-height-s   );
  --triple-block-width-m:   var( --triple-block-height-m   );
  --triple-block-width-l:   var( --triple-block-height-l   );
  --triple-block-width-xl:  var( --triple-block-height-xl  );
  --triple-block-width-xxl: var( --triple-block-height-xxl );
  --triple-block-width-3xl: var( --triple-block-height-3xl );
  --triple-block-width-4xl: var( --triple-block-height-4xl );
  --triple-block-width-5xl: var( --triple-block-height-5xl );
}

/*** Triple block width ***/

/*** Content height ***/

body {
  --content-height-xxs:  10vh;
  --content-height-xs:   20vh;
  --content-height-s:    30vh;
  --content-height-m:    40vh;
  --content-height-l:    50vh;
  --content-height-xl:   60vh;
  --content-height-xxl:  70vh;
  --content-height-3xl:  80vh;
  --content-height-4xl:  90vh;
  --content-height-5xl: 100vh;
}

/*** Content height ***/

/*** Content width ***/
/* XXS */

@media only screen and (min-width: 320px) and (max-width: 359px) {
body {
  --content-width-xxs: 320px;
  --content-width-xs:  100%;
  --content-width-s:   100%;
  --content-width-m:   100%;
  --content-width-l:   100%;
  --content-width-xl:  100%;
  --content-width-xxl: 100%;
  --content-width-3xl: 100%;
  --content-width-4xl: 100%;
  --content-width-5xl: 100%;
}}

/* XXS */

/* XS */

@media only screen and (min-width: 360px) and (max-width: 419px) {
body {
  --content-width-xxs: 320px;
  --content-width-xs:  360px;
  --content-width-s:   100%;
  --content-width-m:   100%;
  --content-width-l:   100%;
  --content-width-xl:  100%;
  --content-width-xxl: 100%;
  --content-width-3xl: 100%;
  --content-width-4xl: 100%;
  --content-width-5xl: 100%;
}}

/* XS */

/* S */

@media only screen and (min-width: 419px) and (max-width: 479px) {
body {
  --content-width-xxs: 320px;
  --content-width-xs:  360px;
  --content-width-s:   420px;
  --content-width-m:   100%;
  --content-width-l:   100%;
  --content-width-xl:  100%;
  --content-width-xxl: 100%;
  --content-width-3xl: 100%;
  --content-width-4xl: 100%;
  --content-width-5xl: 100%;
}}

/* S */

/* M */

@media only screen and (min-width: 480px) and (max-width: 719px) {
body {
  --content-width-xxs: 320px;
  --content-width-xs:  360px;
  --content-width-s:   420px;
  --content-width-m:   480px;
  --content-width-l:   100%;
  --content-width-xl:  100%;
  --content-width-xxl: 100%;
  --content-width-3xl: 100%;
  --content-width-4xl: 100%;
  --content-width-5xl: 100%;
}}

/* M */

/* L */

@media only screen and (min-width: 720px) and (max-width: 1279px) {
body {
  --content-width-xxs: 320px;
  --content-width-xs:  360px;
  --content-width-s:   420px;
  --content-width-m:   480px;
  --content-width-l:   720px;
  --content-width-xl:  100%;
  --content-width-xxl: 100%;
  --content-width-3xl: 100%;
  --content-width-4xl: 100%;
  --content-width-5xl: 100%;
}}

/* L */

/* XL */

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
body {
  --content-width-xxs:  320px;
  --content-width-xs:   360px;
  --content-width-s:    420px;
  --content-width-m:    480px;
  --content-width-l:    720px;
  --content-width-xl:  1280px;
  --content-width-xxl: 100%;
  --content-width-3xl: 100%;
  --content-width-4xl: 100%;
  --content-width-5xl: 100%;
}}

/* XL */

/* XXL */

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
body {
  --content-width-xxs:  320px;
  --content-width-xs:   360px;
  --content-width-s:    420px;
  --content-width-m:    480px;
  --content-width-l:    720px;
  --content-width-xl:  1280px;
  --content-width-xxl: 1440px;
  --content-width-3xl: 100%;
  --content-width-4xl: 100%;
  --content-width-5xl: 100%;
}}

/* XXL */

/* 3XL */

@media only screen and (min-width: 1680px) and (max-width: 2159px) {
body {
  --content-width-xxs:  320px;
  --content-width-xs:   360px;
  --content-width-s:    420px;
  --content-width-m:    480px;
  --content-width-l:    720px;
  --content-width-xl:  1280px;
  --content-width-xxl: 1440px;
  --content-width-3xl: 1680px;
  --content-width-4xl: 100%;
  --content-width-5xl: 100%;
}}

/* 3XL */

/* 4XL */

@media only screen and (min-width: 2160px) and (max-width: 3839px) {
body {
  --content-width-xxs:  320px;
  --content-width-xs:   360px;
  --content-width-s:    420px;
  --content-width-m:    480px;
  --content-width-l:    720px;
  --content-width-xl:  1280px;
  --content-width-xxl: 1440px;
  --content-width-3xl: 1680px;
  --content-width-4xl: 2160px;
  --content-width-5xl: 100%;
}}

/* 4XL */

/* 5XL */

@media only screen and (min-width: 3840px) and (max-width: 9999px) {
body {
  --content-width-xxs:  320px;
  --content-width-xs:   360px;
  --content-width-s:    420px;
  --content-width-m:    480px;
  --content-width-l:    720px;
  --content-width-xl:  1280px;
  --content-width-xxl: 1440px;
  --content-width-3xl: 1680px;
  --content-width-4xl: 2140px;
  --content-width-5xl: 3840px;
}}

/* 5XL */
/*** Content width ***/
/***** Size profiles *****/
