
/***** Space profiles *****/
/*** Gap ***/

body {
  --gap-micro:  3px;
  --gap-xxs:    6px;
  --gap-xs:    12px;
  --gap-s:     18px;
  --gap-m:     24px;
  --gap-l:     30px;
  --gap-xl:    36px;
  --gap-xxl:   42px;
  --gap-3xl:   48px;
  --gap-4xl:   54px;
  --gap-5xl:   60px;
}

/*** Gap ***/

/*** Indent ***/

body {
  --indent-micro:  3px;
  --indent-xxs:    6px;
  --indent-xs:    12px;
  --indent-s:     18px;
  --indent-m:     24px;
  --indent-l:     30px;
  --indent-xl:    36px;
  --indent-xxl:   42px;
  --indent-3xl:   48px;
  --indent-4xl:   54px;
  --indent-5xl:   60px;
}

/*** Indent ***/

/*** Outdent ***/

body {
  --outdent-micro:  3px;
  --outdent-xxs:    6px;
  --outdent-xs:    12px;
  --outdent-s:     18px;
  --outdent-m:     24px;
  --outdent-l:     30px;
  --outdent-xl:    36px;
  --outdent-xxl:   42px;
  --outdent-3xl:   48px;
  --outdent-4xl:   54px;
  --outdent-5xl:   60px;
}

/*** Outdent ***/
/***** Space profiles *****/
