
/***** Scroll presets *****/
/*** Scroll ***/

[data-scroll-axis],
[data-hide-scrollbar] {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

[data-scroll-axis]::-webkit-scrollbar,
[data-hide-scrollbar]::-webkit-scrollbar {
  /* Chrome, Safari and Opera */
  display: none;
}

[data-scroll-axis="x"],
[data-scroll-axis="xy"] {
  overflow-x: auto;
}

[data-scroll-axis="y"],
[data-scroll-axis="xy"] {
  overflow-y: auto;
}

/*** Scroll ***/
/***** Scroll presets *****/
