



/* + tertiary (khaki-green) */






/***** Theme variables *****/
/*** Border color ***/

[data-theme="soft-light"] {
  --border-color-default:   var( --grey-x-light  );
  --border-color-muted:     var( --grey-xx-light );
  --border-color-highlight: var( --white-x-dark  );
  --border-color-invert:    var( --black-x-light );
  --border-color-primary:   var( --hard-blue     );
  --border-color-secondary: var( --hard-purple   );
  --border-color-success:   var( --soft-green    );
  --border-color-warning:   var( --soft-red      );
}

/*** Border color ***/

/*** Fill color ***/

[data-theme="soft-light"] {
  --fill-color-default:   var( --white-xx-light );
  --fill-color-muted:     var( --white-xx-dark  );
  --fill-color-highlight: var( --white-light    );
  --fill-color-invert:    var( --black-x-light  );
  --fill-color-primary:   var( --soft-blue      );
  --fill-color-secondary: var( --soft-purple    );
  --fill-color-success:   var( --soft-green     );
  --fill-color-warning:   var( --soft-red       );
}

/*** Fill color ***/

/*** Highlight color ***/

[data-theme="soft-light"] {
  /* XXX#5011
   * Using fill colors (rather than using hover colors) as highlight colors
   * ensures that elements are distinguishable when both highlighted and hovered,
   * compared to elements that are only hovered or only highlighted. */
  --highlight-color-default:   var( --fill-color-default   );
  --highlight-color-muted:     var( --fill-color-muted     );
  --highlight-color-highlight: var( --fill-color-highlight );
  --highlight-color-invert:    var( --fill-color-invert    );
  --highlight-color-primary:   var( --fill-color-primary   );
  --highlight-color-secondary: var( --fill-color-secondary );
  --highlight-color-success:   var( --fill-color-success   );
  --highlight-color-warning:   var( --fill-color-warning   );
}

/*** Highlight color ***/

/*** Hover color ***/

[data-theme="soft-light"] {
  --hover-color-default:   var( --white-xx-light    );
  --hover-color-muted:     var( --white-x-dark      );
  --hover-color-highlight: var( --white             );
  --hover-color-invert:    var( --black-xx-light    );
  --hover-color-primary:   var( --soft-blue-light   );
  --hover-color-secondary: var( --soft-purple-light );
  --hover-color-success:   var( --soft-green-light  );
  --hover-color-warning:   var( --soft-red-light    );
}

/*** Hover color ***/

/*** Icon color ***/

[data-theme="soft-light"] {
  --icon-color-default:   var( --text-color-default   );
  --icon-color-muted:     var( --text-color-muted     );
  --icon-color-highlight: var( --text-color-highlight );
  --icon-color-invert:    var( --text-color-invert    );
  --icon-color-primary:   var( --text-color-primary   );
  --icon-color-secondary: var( --text-color-secondary );
  --icon-color-success:   var( --text-color-success   );
  --icon-color-warning:   var( --text-color-warning   );
}

/*** Icon color ***/

/*** Line color ***/

[data-theme="soft-light"] {
  --line-color-default:   var( --border-color-default   );
  --line-color-muted:     var( --border-color-muted     );
  --line-color-highlight: var( --border-color-highlight );
  --line-color-invert:    var( --border-color-invert    );
  --line-color-primary:   var( --border-color-primary   );
  --line-color-secondary: var( --border-color-secondary );
  --line-color-success:   var( --border-color-success   );
  --line-color-warning:   var( --border-color-warning   );
}

/*** Line color ***/

/*** Overlay color ***/

[data-theme="soft-light"] {
  --overlay-color-default:   var( --fill-color-default   );
  --overlay-color-muted:     var( --fill-color-muted     );
  --overlay-color-highlight: var( --fill-color-highlight );
  --overlay-color-invert:    var( --fill-color-invert    );
  --overlay-color-primary:   var( --fill-color-primary   );
  --overlay-color-secondary: var( --fill-color-secondary );
  --overlay-color-success:   var( --fill-color-success   );
  --overlay-color-warning:   var( --fill-color-warning   );
}

/*** Overlay color ***/

/*** Progress color ***/

[data-theme="soft-light"] {
  --progress-color-default:   var( --hover-color-default   );
  --progress-color-muted:     var( --hover-color-muted     );
  --progress-color-highlight: var( --hover-color-highlight );
  --progress-color-invert:    var( --hover-color-invert    );
  --progress-color-primary:   var( --hover-color-primary   );
  --progress-color-secondary: var( --hover-color-secondary );
  --progress-color-success:   var( --hover-color-success   );
  --progress-color-warning:   var( --hover-color-warning   );
}

/*** Progress color ***/

/*** Shadow color ***/

[data-theme="soft-light"] {
  --shadow-color-default:   var( --black-shadow-thin );
  --shadow-color-muted:     var( --black-shadow-thin );
  --shadow-color-highlight: var( --black-shadow-thin );
  --shadow-color-invert:    var( --black-shadow-thin );
  --shadow-color-primary:   var( --black-shadow-thin );
  --shadow-color-secondary: var( --black-shadow-thin );
  --shadow-color-success:   var( --black-shadow-thin );
  --shadow-color-warning:   var( --black-shadow-thin );
}

/*** Shadow color ***/

/*** Stroke color ***/

[data-theme="soft-light"] {
  --stroke-color-default:   var( --border-color-default   );
  --stroke-color-muted:     var( --border-color-muted     );
  --stroke-color-highlight: var( --border-color-highlight );
  --stroke-color-invert:    var( --border-color-invert    );
  --stroke-color-primary:   var( --border-color-primary   );
  --stroke-color-secondary: var( --border-color-secondary );
  --stroke-color-success:   var( --border-color-success   );
  --stroke-color-warning:   var( --border-color-warning   );
}

/*** Stroke color ***/

/*** Text color ***/

[data-theme="soft-light"] {
  --text-color-default:   var( --black-xx-light      );
  --text-color-muted:     var( --grey-dark           );
  --text-color-highlight: var( --grey-x-light        );
  --text-color-invert:    var( --white-dark          );
  --text-color-primary:   var( --hard-blue-xx-dark   );
  --text-color-secondary: var( --hard-purple-xx-dark );
  --text-color-success:   var( --hard-green-xx-dark  );
  --text-color-warning:   var( --hard-red-xx-dark    );
}

/*** Text color ***/
/***** Theme variables *****/
