
/***** Theme variables *****/
/*** Border color ***/

[data-theme="soft-light"] {
  --border-color-default:   var( --hard-grey-xx-dark   ); /* 120 */
  --border-color-muted:     var( --soft-grey-x-light   ); /* 180 */
  --border-color-highlight: var( --hard-white-dark     ); /* 235 */
  --border-color-invert:    var( --hard-grey           ); /* 135 */
  --border-color-primary:   var( --soft-blue-xx-dark   );
  --border-color-secondary: var( --soft-purple-xx-dark );
  --border-color-tertiary:  var( --soft-khaki-xx-dark  );
  --border-color-success:   var( --soft-green-xx-dark  );
  --border-color-warning:   var( --soft-red-xx-dark    );
}

/*** Border color ***/

/*** Fill color ***/

[data-theme="soft-light"] {
  --fill-color-default:   var( --hard-white-xx-light ); /* 255 */
  --fill-color-muted:     var( --hard-white-xx-dark  ); /* 225 */
  --fill-color-highlight: var( --hard-white-light    ); /* 245 */
  --fill-color-invert:    var( --soft-black          ); /* 050 */
  --fill-color-primary:   var( --soft-blue           );
  --fill-color-secondary: var( --soft-purple         );
  --fill-color-tertiary:  var( --soft-khaki          );
  --fill-color-success:   var( --soft-green          );
  --fill-color-warning:   var( --soft-red            );
}

/*** Fill color ***/

/*** Highlight color ***/

[data-theme="soft-light"] {
  --highlight-color-default:   var( --fill-color-default   );
  --highlight-color-muted:     var( --fill-color-muted     );
  --highlight-color-highlight: var( --fill-color-highlight );
  --highlight-color-invert:    var( --fill-color-invert    );
  --highlight-color-primary:   var( --fill-color-primary   );
  --highlight-color-secondary: var( --fill-color-secondary );
  --highlight-color-tertiary:  var( --fill-color-tertiary  );
  --highlight-color-success:   var( --fill-color-success   );
  --highlight-color-warning:   var( --fill-color-warning   );
}

/*** Highlight color ***/

/*** Hover color ***/

[data-theme="soft-light"] {
  --hover-color-default:   var( --hard-white-light    ); /* 245 */
  --hover-color-muted:     var( --hard-white-dark     ); /* 235 */
  --hover-color-highlight: var( --hard-white-xx-light ); /* 255 */
  --hover-color-invert:    var( --soft-black-x-light  ); /* 060 */
  --hover-color-primary:   var( --soft-blue-x-light   );
  --hover-color-secondary: var( --soft-purple-x-light );
  --hover-color-tertiary:  var( --soft-khaki-x-light  );
  --hover-color-success:   var( --soft-green-x-light  );
  --hover-color-warning:   var( --soft-red-x-light    );
}

/*** Hover color ***/

/*** Icon color ***/

[data-theme="soft-light"] {
  --icon-color-default:   var( --text-color-default   );
  --icon-color-muted:     var( --text-color-muted     );
  --icon-color-highlight: var( --text-color-highlight );
  --icon-color-invert:    var( --text-color-invert    );
  --icon-color-primary:   var( --text-color-primary   );
  --icon-color-secondary: var( --text-color-secondary );
  --icon-color-tertiary:  var( --text-color-tertiary  );
  --icon-color-success:   var( --text-color-success   );
  --icon-color-warning:   var( --text-color-warning   );
}

/*** Icon color ***/

/*** Line color ***/

[data-theme="soft-light"] {
  --line-color-default:   var( --border-color-default   );
  --line-color-muted:     var( --border-color-muted     );
  --line-color-highlight: var( --border-color-highlight );
  --line-color-invert:    var( --border-color-invert    );
  --line-color-primary:   var( --border-color-primary   );
  --line-color-secondary: var( --border-color-secondary );
  --line-color-tertiary:  var( --border-color-tertiary  );
  --line-color-success:   var( --border-color-success   );
  --line-color-warning:   var( --border-color-warning   );
}

/*** Line color ***/

/*** Overlay color ***/

[data-theme="soft-light"] {
  --overlay-color-default:   var( --fill-color-default   );
  --overlay-color-muted:     var( --fill-color-muted     );
  --overlay-color-highlight: var( --fill-color-highlight );
  --overlay-color-invert:    var( --fill-color-invert    );
  --overlay-color-primary:   var( --fill-color-primary   );
  --overlay-color-secondary: var( --fill-color-secondary );
  --overlay-color-tertiary:  var( --fill-color-tertiary  );
  --overlay-color-success:   var( --fill-color-success   );
  --overlay-color-warning:   var( --fill-color-warning   );
}

/*** Overlay color ***/

/*** Progress color ***/

[data-theme="soft-light"] {
  --progress-color-default:   var( --hover-color-default   );
  --progress-color-muted:     var( --hover-color-muted     );
  --progress-color-highlight: var( --hover-color-highlight );
  --progress-color-invert:    var( --hover-color-invert    );
  --progress-color-primary:   var( --hover-color-primary   );
  --progress-color-secondary: var( --hover-color-secondary );
  --progress-color-tertiary:  var( --hover-color-tertiary  );
  --progress-color-success:   var( --hover-color-success   );
  --progress-color-warning:   var( --hover-color-warning   );
}

/*** Progress color ***/

/*** Shadow color ***/

[data-theme="soft-light"] {
  --shadow-color-default:   var( --black-shadow-thin );
  --shadow-color-muted:     var( --black-shadow-thin );
  --shadow-color-highlight: var( --black-shadow-thin );
  --shadow-color-invert:    var( --black-shadow-thin );
  --shadow-color-primary:   var( --black-shadow-thin );
  --shadow-color-secondary: var( --black-shadow-thin );
  --shadow-color-tertiary:  var( --black-shadow-thin );
  --shadow-color-success:   var( --black-shadow-thin );
  --shadow-color-warning:   var( --black-shadow-thin );
}

/*** Shadow color ***/

/*** Stroke color ***/

[data-theme="soft-light"] {
  --stroke-color-default:   var( --border-color-default   );
  --stroke-color-muted:     var( --border-color-muted     );
  --stroke-color-highlight: var( --border-color-highlight );
  --stroke-color-invert:    var( --border-color-invert    );
  --stroke-color-primary:   var( --border-color-primary   );
  --stroke-color-secondary: var( --border-color-secondary );
  --stroke-color-tertiary:  var( --border-color-tertiary  );
  --stroke-color-success:   var( --border-color-success   );
  --stroke-color-warning:   var( --border-color-warning   );
}

/*** Stroke color ***/

/*** Text color ***/

[data-theme="soft-light"] {
  --text-color-default:   var( --soft-black-x-light  ); /* 060 */
  --text-color-muted:     var( --hard-grey-xx-dark   ); /* 120 */
  --text-color-highlight: var( --soft-grey-x-light   ); /* 180 */
  --text-color-invert:    var( --hard-white          ); /* 240 */
  --text-color-primary:   var( --soft-blue-xx-dark   );
  --text-color-secondary: var( --soft-purple-xx-dark );
  --text-color-tertiary:  var( --soft-khaki-xx-dark  );
  --text-color-success:   var( --soft-green-xx-dark  );
  --text-color-warning:   var( --soft-red-xx-dark    );
}

/*** Text color ***/
/***** Theme variables *****/
