
/***** Theme variables *****/
/*** Border color ***/

[data-theme="soft-dark"] {
  --border-color-default:   var( --soft-grey           ); /* 170 */
  --border-color-muted:     var( --soft-black          ); /* 050 */
  --border-color-highlight: var( --soft-black-light    ); /* 055 */
  --border-color-invert:    var( --soft-grey-x-light   ); /* 180 */
  --border-color-primary:   var( --soft-blue-xx-dark   );
  --border-color-secondary: var( --soft-purple-xx-dark );
  --border-color-tertiary:  var( --soft-khaki-xx-dark  );
  --border-color-success:   var( --soft-green-xx-dark  );
  --border-color-warning:   var( --soft-red-xx-dark    );
}

/*** Border color ***/

/*** Fill color ***/

[data-theme="soft-dark"] {
  --fill-color-default:   var( --soft-black-xx-dark  ); /* 035 */
  --fill-color-muted:     var( --soft-black-light    ); /* 055 */
  --fill-color-highlight: var( --soft-black-dark     ); /* 045 */
  --fill-color-invert:    var( --hard-white-xx-light ); /* 255 */
  --fill-color-primary:   var( --soft-blue           );
  --fill-color-secondary: var( --soft-purple         );
  --fill-color-tertiary:  var( --soft-khaki          );
  --fill-color-success:   var( --soft-green          );
  --fill-color-warning:   var( --soft-red            );
}

/*** Fill color ***/

/*** Highlight color ***/

[data-theme="soft-dark"] {
  --highlight-color-default:   var( --fill-color-default   );
  --highlight-color-muted:     var( --fill-color-muted     );
  --highlight-color-highlight: var( --fill-color-highlight );
  --highlight-color-invert:    var( --fill-color-invert    );
  --highlight-color-primary:   var( --fill-color-primary   );
  --highlight-color-secondary: var( --fill-color-secondary );
  --highlight-color-tertiary:  var( --fill-color-tertiary  );
  --highlight-color-success:   var( --fill-color-success   );
  --highlight-color-warning:   var( --fill-color-warning   );
}

/*** Highlight color ***/

/*** Hover color ***/

[data-theme="soft-dark"] {
  --hover-color-default:   var( --soft-black-dark     ); /* 045 */
  --hover-color-muted:     var( --soft-black-xx-light ); /* 065 */
  --hover-color-highlight: var( --soft-black-light    ); /* 055 */
  --hover-color-invert:    var( --hard-white-light    ); /* 245 */
  --hover-color-primary:   var( --soft-blue-x-light   );
  --hover-color-secondary: var( --soft-purple-x-light );
  --hover-color-tertiary:  var( --soft-khaki-x-light  );
  --hover-color-success:   var( --soft-green-x-light  );
  --hover-color-warning:   var( --soft-red-x-light    );
}

/*** Hover color ***/

/*** Icon color ***/

[data-theme="soft-dark"] {
  --icon-color-default:   var( --text-color-default   );
  --icon-color-muted:     var( --text-color-muted     );
  --icon-color-highlight: var( --text-color-highlight );
  --icon-color-invert:    var( --text-color-invert    );
  --icon-color-primary:   var( --text-color-primary   );
  --icon-color-secondary: var( --text-color-secondary );
  --icon-color-tertiary:  var( --text-color-tertiary  );
  --icon-color-success:   var( --text-color-success   );
  --icon-color-warning:   var( --text-color-warning   );
}

/*** Icon color ***/

/*** Line color ***/

[data-theme="soft-dark"] {
  --line-color-default:   var( --border-color-default   );
  --line-color-muted:     var( --border-color-muted     );
  --line-color-highlight: var( --border-color-highlight );
  --line-color-invert:    var( --border-color-invert    );
  --line-color-primary:   var( --border-color-primary   );
  --line-color-secondary: var( --border-color-secondary );
  --line-color-tertiary:  var( --border-color-tertiary  );
  --line-color-success:   var( --border-color-success   );
  --line-color-warning:   var( --border-color-warning   );
}

/*** Line color ***/

/*** Progress color ***/

[data-theme="soft-dark"] {
  --progress-color-default:   var( --hover-color-default   );
  --progress-color-muted:     var( --hover-color-muted     );
  --progress-color-highlight: var( --hover-color-highlight );
  --progress-color-invert:    var( --hover-color-invert    );
  --progress-color-primary:   var( --hover-color-primary   );
  --progress-color-secondary: var( --hover-color-secondary );
  --progress-color-tertiary:  var( --hover-color-tertiary  );
  --progress-color-success:   var( --hover-color-success   );
  --progress-color-warning:   var( --hover-color-warning   );
}

/*** Progress color ***/

/*** Shadow color ***/

[data-theme="soft-dark"] {
  --shadow-color-default:   var( --white-shadow-thin );
  --shadow-color-muted:     var( --white-shadow-thin );
  --shadow-color-highlight: var( --white-shadow-thin );
  --shadow-color-invert:    var( --white-shadow-thin );
  --shadow-color-primary:   var( --white-shadow-thin );
  --shadow-color-secondary: var( --white-shadow-thin );
  --shadow-color-tertiary:  var( --white-shadow-thin );
  --shadow-color-success:   var( --white-shadow-thin );
  --shadow-color-warning:   var( --white-shadow-thin );
}

/*** Shadow color ***/

/*** Stroke color ***/

[data-theme="soft-dark"] {
  --stroke-color-default:   var( --border-color-default   );
  --stroke-color-muted:     var( --border-color-muted     );
  --stroke-color-highlight: var( --border-color-highlight );
  --stroke-color-invert:    var( --border-color-invert    );
  --stroke-color-primary:   var( --border-color-primary   );
  --stroke-color-secondary: var( --border-color-secondary );
  --stroke-color-tertiary:  var( --border-color-tertiary  );
  --stroke-color-success:   var( --border-color-success   );
  --stroke-color-warning:   var( --border-color-warning   );
}

/*** Stroke color ***/

/*** Text color ***/

[data-theme="soft-dark"] {
  --text-color-default:   var( --hard-white          ); /* 240 */
  --text-color-muted:     var( --soft-grey-x-light   ); /* 180 */
  --text-color-highlight: var( --hard-grey-xx-dark   ); /* 120 */
  --text-color-invert:    var( --soft-black-x-light  );
  --text-color-primary:   var( --soft-blue-xx-dark   );
  --text-color-secondary: var( --soft-purple-xx-dark );
  --text-color-tertiary:  var( --soft-khaki-xx-dark  );
  --text-color-success:   var( --soft-green-xx-dark  );
  --text-color-warning:   var( --soft-red-xx-dark    );
}

/*** Text color ***/
/***** Theme variables *****/
