
/***** Line profiles *****/
/*** Line strength ***/

body {
  --line-strength-xxs: var( --border-width-xxs );
  --line-strength-xs:  var( --border-width-xs  );
  --line-strength-s:   var( --border-width-s   );
  --line-strength-m:   var( --border-width-m   );
  --line-strength-l:   var( --border-width-l   );
  --line-strength-xl:  var( --border-width-xl  );
  --line-strength-xxl: var( --border-width-xxl );
  --line-strength-3xl: var( --border-width-3xl );
  --line-strength-4xl: var( --border-width-4xl );
  --line-strength-5xl: var( --border-width-5xl );
}

/*** Line strength ***/
/***** Line profiles *****/
