
/* BUG#9081
 * Google Chrome version 77.0.3
 * macOS Mojave version 10.14.6
 * The browser rounds line height values in textarea elements.
 * Therefore, it's important to use whole numbers as line heights.
 * Otherwise, components that calculates their height based on the line count and the line height,
 * might calculate a height that is different from the browser's calculation. */

/* XXX#0661
 * Font size and icon size values are standardized.
 * If you put an ':m' sized icon next to an ':m' sized text, they both look the same size. */

/* XXX#0663
 * Text block heights are line heights designed for fitting texts to the block size profiles.
 * (The native line height profiles aren't standardized with the block size profiles.) */

/* REM:
 * https://www.w3.org/TR/css-values-3
 * Equal to the computed value of font-size on the root element.
 * When specified on the font-size property of the root element,
 * the rem units refer to the property’s initial value. */

/***** Font profiles *****/
/*** Font size ***/

:root {
  --font-size-micro: 1.0rem;
  --font-size-xxs:   1.2rem;
  --font-size-xs:    1.3rem;
  --font-size-s:     1.4rem;
  --font-size-m:     1.6rem;
  --font-size-l:     1.8rem;
  --font-size-xl:    2.0rem;
  --font-size-xxl:   2.2rem;
  --font-size-3xl:   2.4rem;
  --font-size-4xl:   2.6rem;
  --font-size-5xl:   2.8rem;
}

/*** Font size ***/

/*** Font weight ***/

:root {
  --font-weight-thin:        100;
  --font-weight-extra-light: 200;
  --font-weight-light:       300;
  --font-weight-normal:      400;
  --font-weight-medium:      500;
  --font-weight-semi-bold:   600;
  --font-weight-bold:        700;
  --font-weight-extra-bold:  800;
  --font-weight-black:       900;
  --font-weight-extra-black: 950;
}

/*** Font weight ***/

/*** Letter spacing ***/

:root {
  --letter-spacing-micro: 0.050rem;
  --letter-spacing-xxs:   0.060rem;
  --letter-spacing-xs:    0.065rem;
  --letter-spacing-s:     0.070rem;
  --letter-spacing-m:     0.080rem;
  --letter-spacing-l:     0.090rem;
  --letter-spacing-xl:    0.100rem;
  --letter-spacing-xxl:   0.110rem;
  --letter-spacing-3xl:   0.120rem;
  --letter-spacing-4xl:   0.130rem;
  --letter-spacing-5xl:   0.140rem;
}

/*** Letter spacing ***/

/*** Line height ***/

:root {
  --line-height-micro: 1.50rem;
  --line-height-xxs:   1.80rem;
  --line-height-xs:    1.95rem;
  --line-height-s:     2.10rem;
  --line-height-m:     2.40rem;
  --line-height-l:     2.70rem;
  --line-height-xl:    3.00rem;
  --line-height-xxl:   3.30rem;
  --line-height-3xl:   3.60rem;
  --line-height-4xl:   3.90rem;
  --line-height-5xl:   4.20rem;
}

/*** Line height ***/

/*** Text block height ***/

:root {
  --text-block-height-micro: 12px;
  --text-block-height-xxs:   24px;
  --text-block-height-xs:    24px;
  --text-block-height-s:     24px;
  --text-block-height-m:     24px;
  --text-block-height-l:     36px;
  --text-block-height-xl:    36px;
  --text-block-height-xxl:   48px;
  --text-block-height-3xl:   48px;
  --text-block-height-4xl:   48px;
  --text-block-height-5xl:   48px;
}

/*** Text block height ***/
/***** Font profiles *****/
