
/***** Bullet presets *****/
/*** Bullet color ***/

[data-bullet-color]::after {
  border-radius: 2px;
  content:       '';
  height:        6px;
  position:      absolute;
  width:         6px;

  /* XXX#0010 The '{display: inline}' property prevents 'height' and 'width' from having an effect. */
  display: block;
}

[data-bullet-color="var"]::after       { background-color: var( --bullet-color           ); }
[data-bullet-color="default"]::after   { background-color: var( --bullet-color-default   ); }
[data-bullet-color="highlight"]::after { background-color: var( --bullet-color-highlight ); }
[data-bullet-color="invert"]::after    { background-color: var( --bullet-color-invert    ); }
[data-bullet-color="muted"]::after     { background-color: var( --bullet-color-muted     ); }
[data-bullet-color="primary"]::after   { background-color: var( --bullet-color-primary   ); }
[data-bullet-color="secondary"]::after { background-color: var( --bullet-color-secondary ); }
[data-bullet-color="tertiary"]::after  { background-color: var( --bullet-color-tertiary  ); }
[data-bullet-color="success"]::after   { background-color: var( --bullet-color-success   ); }
[data-bullet-color="warning"]::after   { background-color: var( --bullet-color-warning   ); }

/*** Bullet color ***/

/*** Bullet position ***/

[data-bullet-position="left"]::after   { left:   0;               top:  calc(50% - 3px); }
[data-bullet-position="right"]::after  { right:  0;               top:  calc(50% - 3px); }
[data-bullet-position="top"]::after    { top:    0;               left: calc(50% - 3px); }
[data-bullet-position="bottom"]::after { bottom: 0;               left: calc(50% - 3px); }
[data-bullet-position="center"]::after { top:    calc(50% - 3px); left: calc(50% - 3px); }

/*** Bullet position ***/
/***** Bullet presets *****/
