
/***** Marker presets *****/
/*** Marker color ***/

[data-marker-color]::after {
  border-radius: 2px;
  content:       '';
  height:        6px;
  position:      absolute;
  width:         6px;

  /* XXX#0010 (resources/public/pretty-attributes/accessoriese/presets/bullet.css) */
  display: block;
}

[data-marker-color="var"]::after       { background-color: var( --marker-color           ); }
[data-marker-color="default"]::after   { background-color: var( --border-color-default   ); }
[data-marker-color="muted"]::after     { background-color: var( --border-color-muted     ); }
[data-marker-color="highlight"]::after { background-color: var( --border-color-highlight ); }
[data-marker-color="invert"]::after    { background-color: var( --border-color-invert    ); }
[data-marker-color="primary"]::after   { background-color: var( --border-color-primary   ); }
[data-marker-color="secondary"]::after { background-color: var( --border-color-secondary ); }
[data-marker-color="tertiary"]::after  { background-color: var( --border-color-tertiary  ); }
[data-marker-color="success"]::after   { background-color: var( --border-color-success   ); }
[data-marker-color="warning"]::after   { background-color: var( --border-color-warning   ); }

/*** Marker color ***/

/*** Marker position ***/

[data-marker-position="tl"]::after     { left:   0px; top:   0px;             }
[data-marker-position="tr"]::after     { right:  0px; top:   0px;             }
[data-marker-position="br"]::after     { bottom: 0px; right: 0px;             }
[data-marker-position="bl"]::after     { bottom: 0px; left:  0px;             }
[data-marker-position="left"]::after   { left:   0px; top:   calc(50% - 3px); }
[data-marker-position="right"]::after  { right:  0px; top:   calc(50% - 3px); }
[data-marker-position="top"]::after    { top:    0px; left:  calc(50% - 3px); }
[data-marker-position="bottom"]::after { bottom: 0px; left:  calc(50% - 3px); }

/*** Marker position ***/
/***** Marker presets *****/
