
/***** Position presets *****/
/*** Position ***/

                            [data-position="tl"]     { left:     0; top:      0; }
                            [data-position="tr"]     { right:    0; top:      0; }
                            [data-position="br"]     { right:    0; bottom:   0; }
                            [data-position="bl"]     { left:     0; bottom:   0; }
                            [data-position="top"]    { left:   50%; top:     0%; transform: translate(  -50%,    0% ); }
                            [data-position="right"]  { right:   0%; top:    50%; transform: translate(    0%,  -50% ); }
                            [data-position="bottom"] { left:   50%; bottom:  0%; transform: translate(  -50%,    0% ); }
                            [data-position="left"]   { left:    0%; top:    50%; transform: translate(    0%,  -50% ); }
                            [data-position="center"] { left:   50%; top:    50%; transform: translate(  -50%,  -50% ); }
[data-position-base="outer"][data-position="tl"]     { left:     0; top:      0; transform: translate( -100%, -100% ); }
[data-position-base="outer"][data-position="tr"]     { right:    0; top:      0; transform: translate( +100%, -100% ); }
[data-position-base="outer"][data-position="br"]     { right:    0; bottom:   0; transform: translate( +100%, +100% ); }
[data-position-base="outer"][data-position="bl"]     { left:     0; bottom:   0; transform: translate( -100%, +100% ); }
[data-position-base="outer"][data-position="top"]    { left:   50%; top:     0%; transform: translate(  -50%, -100% ); }
[data-position-base="outer"][data-position="right"]  { right:   0%; top:    50%; transform: translate( +100%,  -50% ); }
[data-position-base="outer"][data-position="bottom"] { left:   50%; bottom:  0%; transform: translate(  -50%, +100% ); }
[data-position-base="outer"][data-position="left"]   { left:    0%; top:    50%; transform: translate( -100%,  -50% ); }
[data-position-base="outer"][data-position="center"] { left:   50%; top:    50%; transform: translate(  -50%,  -50% ); }

/*** Position ***/

/*** Position method ***/

[data-position-method="absolute"] { position: absolute; }
[data-position-method="fixed"]    { position: fixed;    }
[data-position-method="relative"] { position: relative; }
[data-position-method="static"]   { position: static;   }
[data-position-method="sticky"]   { position: sticky;   }

/*** Position method ***/

/*** Layer ***/

[data-layer="var"]       { z-index: var( --layer ); }
[data-layer="lowermost"] { z-index: -9999;          }
[data-layer="uppermost"] { z-index:  9999;          }

/*** Layer ***/
/***** Position presets *****/
