
/* Default line-height / font-size ratio:      1.50
 * Default font-size   / letter-spacing ratio: 0.05 */

/***** Font presets *****/
/*** Font size ***/

[data-font-size="var"]   { font-size: var( --font-size ); }
[data-font-size="micro"] { font-size: var( --font-size-micro ); }
[data-font-size="xxs"]   { font-size: var( --font-size-xxs   ); }
[data-font-size="xs"]    { font-size: var( --font-size-xs    ); }
[data-font-size="s"]     { font-size: var( --font-size-s     ); }
[data-font-size="m"]     { font-size: var( --font-size-m     ); }
[data-font-size="l"]     { font-size: var( --font-size-l     ); }
[data-font-size="xl"]    { font-size: var( --font-size-xl    ); }
[data-font-size="xxl"]   { font-size: var( --font-size-xxl   ); }
[data-font-size="3xl"]   { font-size: var( --font-size-3xl   ); }
[data-font-size="4xl"]   { font-size: var( --font-size-4xl   ); }
[data-font-size="5xl"]   { font-size: var( --font-size-5xl   ); }

/*** Font size ***/

/*** Font weight ***/

[data-font-weight="var"]         { font-weight: var( --font-weight             ); }
[data-font-weight="thin"]        { font-weight: var( --font-weight-thin        ); }
[data-font-weight="extra-light"] { font-weight: var( --font-weight-extra-light ); }
[data-font-weight="light"]       { font-weight: var( --font-weight-light       ); }
[data-font-weight="normal"]      { font-weight: var( --font-weight-normal      ); }
[data-font-weight="medium"]      { font-weight: var( --font-weight-medium      ); }
[data-font-weight="semi-bold"]   { font-weight: var( --font-weight-semi-bold   ); }
[data-font-weight="bold"]        { font-weight: var( --font-weight-bold        ); }
[data-font-weight="extra-bold"]  { font-weight: var( --font-weight-extra-bold  ); }
[data-font-weight="black"]       { font-weight: var( --font-weight-black       ); }
[data-font-weight="extra-black"] { font-weight: var( --font-weight-extra-black ); }

/*** Font weight ***/

/*** Letter spacing ***/

[data-letter-spacing="var"]   { letter-spacing: var( --letter-spacing       ); }
[data-letter-spacing="micro"] { letter-spacing: var( --letter-spacing-micro ); }
[data-letter-spacing="xxs"]   { letter-spacing: var( --letter-spacing-xxs   ); }
[data-letter-spacing="xs"]    { letter-spacing: var( --letter-spacing-xs    ); }
[data-letter-spacing="s"]     { letter-spacing: var( --letter-spacing-s     ); }
[data-letter-spacing="m"]     { letter-spacing: var( --letter-spacing-m     ); }
[data-letter-spacing="l"]     { letter-spacing: var( --letter-spacing-l     ); }
[data-letter-spacing="xl"]    { letter-spacing: var( --letter-spacing-xl    ); }
[data-letter-spacing="xxl"]   { letter-spacing: var( --letter-spacing-xxl   ); }
[data-letter-spacing="3xl"]   { letter-spacing: var( --letter-spacing-3xl   ); }
[data-letter-spacing="4xl"]   { letter-spacing: var( --letter-spacing-4xl   ); }
[data-letter-spacing="5xl"]   { letter-spacing: var( --letter-spacing-5xl   ); }

[data-font-size="var"][data-letter-spacing="auto"]   { letter-spacing: calc( var( --font-size ) / 20 ); }
[data-font-size="micro"][data-letter-spacing="auto"] { letter-spacing: var( --letter-spacing-micro ); }
[data-font-size="xxs"][data-letter-spacing="auto"]   { letter-spacing: var( --letter-spacing-xxs   ); }
[data-font-size="xs"][data-letter-spacing="auto"]    { letter-spacing: var( --letter-spacing-xs    ); }
[data-font-size="s"][data-letter-spacing="auto"]     { letter-spacing: var( --letter-spacing-s     ); }
[data-font-size="m"][data-letter-spacing="auto"]     { letter-spacing: var( --letter-spacing-m     ); }
[data-font-size="l"][data-letter-spacing="auto"]     { letter-spacing: var( --letter-spacing-l     ); }
[data-font-size="xl"][data-letter-spacing="auto"]    { letter-spacing: var( --letter-spacing-xl    ); }
[data-font-size="xxl"][data-letter-spacing="auto"]   { letter-spacing: var( --letter-spacing-xxl   ); }
[data-font-size="3xl"][data-letter-spacing="auto"]   { letter-spacing: var( --letter-spacing-3xl   ); }
[data-font-size="4xl"][data-letter-spacing="auto"]   { letter-spacing: var( --letter-spacing-4xl   ); }
[data-font-size="5xl"][data-letter-spacing="auto"]   { letter-spacing: var( --letter-spacing-5xl   ); }

/*** Letter spacing ***/

/*** Line height ***/

[data-line-height="var"]   { line-height: var( --line-height       ); }
[data-line-height="micro"] { line-height: var( --line-height-micro ); }
[data-line-height="xxs"]   { line-height: var( --line-height-xxs   ); }
[data-line-height="xs"]    { line-height: var( --line-height-xs    ); }
[data-line-height="s"]     { line-height: var( --line-height-s     ); }
[data-line-height="m"]     { line-height: var( --line-height-m     ); }
[data-line-height="l"]     { line-height: var( --line-height-l     ); }
[data-line-height="xl"]    { line-height: var( --line-height-xl    ); }
[data-line-height="xxl"]   { line-height: var( --line-height-xxl   ); }
[data-line-height="3xl"]   { line-height: var( --line-height-3xl   ); }
[data-line-height="4xl"]   { line-height: var( --line-height-4xl   ); }
[data-line-height="5xl"]   { line-height: var( --line-height-5xl   ); }

[data-font-size="var"][data-line-height="auto"]   { line-height: calc( var( --font-size ) * 1.5 ); }
[data-font-size="micro"][data-line-height="auto"] { line-height: var( --line-height-micro ); }
[data-font-size="xxs"][data-line-height="auto"]   { line-height: var( --line-height-xxs   ); }
[data-font-size="xs"][data-line-height="auto"]    { line-height: var( --line-height-xs    ); }
[data-font-size="s"][data-line-height="auto"]     { line-height: var( --line-height-s     ); }
[data-font-size="m"][data-line-height="auto"]     { line-height: var( --line-height-m     ); }
[data-font-size="l"][data-line-height="auto"]     { line-height: var( --line-height-l     ); }
[data-font-size="xl"][data-line-height="auto"]    { line-height: var( --line-height-xl    ); }
[data-font-size="xxl"][data-line-height="auto"]   { line-height: var( --line-height-xxl   ); }
[data-font-size="3xl"][data-line-height="auto"]   { line-height: var( --line-height-3xl   ); }
[data-font-size="4xl"][data-line-height="auto"]   { line-height: var( --line-height-4xl   ); }
[data-font-size="5xl"][data-line-height="auto"]   { line-height: var( --line-height-5xl   ); }

[data-font-size="var"][data-line-height="text-block"]   { /* Text-block line-heights only available for predefined font-size profiles. */ }
[data-font-size="micro"][data-line-height="text-block"] { line-height: var( --text-block-height-micro ); }
[data-font-size="xxs"][data-line-height="text-block"]   { line-height: var( --text-block-height-xxs   ); }
[data-font-size="xs"][data-line-height="text-block"]    { line-height: var( --text-block-height-xs    ); }
[data-font-size="s"][data-line-height="text-block"]     { line-height: var( --text-block-height-s     ); }
[data-font-size="m"][data-line-height="text-block"]     { line-height: var( --text-block-height-m     ); }
[data-font-size="l"][data-line-height="text-block"]     { line-height: var( --text-block-height-l     ); }
[data-font-size="xl"][data-line-height="text-block"]    { line-height: var( --text-block-height-xl    ); }
[data-font-size="xxl"][data-line-height="text-block"]   { line-height: var( --text-block-height-xxl   ); }
[data-font-size="3xl"][data-line-height="text-block"]   { line-height: var( --text-block-height-3xl   ); }
[data-font-size="4xl"][data-line-height="text-block"]   { line-height: var( --text-block-height-4xl   ); }
[data-font-size="5xl"][data-line-height="text-block"]   { line-height: var( --text-block-height-5xl   ); }

/*** Line height ***/
/***** Font presets *****/
