
/***** Normalizer *****/
/*** HTML ***/

html::-webkit-scrollbar {
  /* Hides scrollbar in Webkit browsers */
  display: none;
}

/*** HTML ***/

/*** BODY ***/

body {
  margin:  0;
  padding: 0;
 -webkit-font-smoothing: antialiased;

  /* All elements inherit the box-sizing property of the body element */
  box-sizing: border-box;

  /* All elements inherit the cursor property of the body element */
  cursor: default;
}

/*** BODY ***/

/*** IFRAME ***/

iframe {
  border: none;
}

/*** IFRAME ***/

/*** * ***/

*,
*::before,
*::after {
  /* Inherits the box-sizing property of the body element */
  box-sizing: inherit;
  position:   relative;
}

/*** * ***/

/*** H* ***/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*** H* ***/

/*** DIV ***/

div {
  cursor: inherit;
 -position: relative; /* The '*' selector got the relative positioning. It's in test phase. */
}

div[contenteditable="true"] {
  /* Removes the border from focused content-editable elements */
  outline-style: none;
}

/*** DIV ***/

/*** PRE ***/

pre {
  margin: 0;
}

/*** PRE ***/

/*** PROGRESS ***/

progress {
  appearance:        none;
 -webkit-appearance: none;
 -moz-appearance:    none;
}

/*** PROGRESS ***/

/*** BUTTON ***/

button {
  background-color: transparent;
  color:            inherit;
  cursor:           pointer;

  /* Added 2024.02.01, when fully tested, leave it permanently */
  display: block;

  font-family:      inherit;
  font-size:        inherit;
  letter-spacing:   inherit;
  line-height:      inherit;
  margin:           0;
  outline-style:    none;
  padding:          0;
 -position: relative; /* The '*' selector got the relative positioning. It's in test phase. */
  border:           none;

  /* Displays the overflow content in IE and Edge */
  overflow: visible;

  /* Removes the inherited text transforms in Edge, Firefox and IE */
  text-transform: none;

  /* Makes BUTTONs align their text content like DIVs */
  text-align: start;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /* Corrects the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  /* Restores the focus styles unset by the previous rule */
  outline: 1px dotted ButtonText;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  /* Removes the inner border and padding in Firefox */
  border-style: none;
  padding:      0;
}

/*** BUTTON ***/

/*** A ***/

a {
  /* Removes the gray background on active links in IE 10 */
  background-color: transparent;
  outline-style:    none;
 -position: relative; /* The '*' selector got the relative positioning. It's in test phase. */
}

a,
a:link,
a:hover,
a:visited,
a:active {
	text-decoration: none;
}

/*** A ***/

/*** INPUT ***/

input {
  background-color: transparent;
  border:           none;
  display:          block;
  font-family:      inherit;
  font-size:        inherit;
  letter-spacing:   inherit;
  line-height:      inherit;
  margin:           0;
  outline-style:    none;
  padding:          0;
 -position: relative; /* The '*' selector got the relative positioning. It's in test phase. */

  /* Displays the overflow content in IE and Edge */
  overflow: visible;
}

/*** INPUT ***/

/*** TEXTAREA ***/

textarea {
  background-color: transparent;
  border:           none;
  display:          block;
  font-family:      inherit;
  font-size:        inherit;
  letter-spacing:   inherit;
  line-height:      inherit;
  margin:           0;
  outline-style:    none;
  padding:          0;
  resize:           none;
 -position: relative; /* The '*' selector got the relative positioning. It's in test phase. */

  /* Removes the default vertical scrollbar in IE 10+ */
  overflow: auto;
}

/*** TEXTAREA ***/

/*** SELECT, OPTGROUP ***/

select,
optgroup {
  margin:  0;
  padding: 0;

  /* Removes the inherited text transforms in Edge, Firefox and IE */
  text-transform: none;
}

/*** SELECT, OPTGROUP ***/

/*** HR ***/

hr {
  /* Removes the default margin and border of horizontal separators */
  border: 0;
  margin: 0;
}

/*** HR ***/

/*** IMG ***/

img {
  box-sizing: content-box;
  display:    block;
 -position: relative; /* The '*' selector got the relative positioning. It's in test phase. */

  /* Removes the border of images inside links in IE 10 */
  border-style: none;
}

/*** IMG ***/

/*** P, SPAN, LABEL ***/

p {
  margin:  0;
  padding: 0;
}

p,
span,
label {
  cursor: inherit;
 -position: relative; /* The '*' selector got the relative positioning. It's in test phase. */
}

/*** P, SPAN, LABEL ***/

/*** FOOTER, HEADER, SECTION ***/

footer,
header,
section {
  cursor: inherit;
 -position: relative; /* The '*' selector got the relative positioning. It's in test phase. */
}

/*** FOOTER, HEADER, SECTION ***/

/*** TABLE, TD, TH ***/

table {
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td {
 -position: relative; /* The '*' selector got the relative positioning. It's in test phase. */
}

/*** TABLE, TD, TH ***/

/*** SVG ***/

svg {
  display: block;
}

/*** SVG ***/
/***** Normalizer *****/
