
/***** Green palette *****/
/*** Hard green ***/

:root {
  --hard-green-xx-dark:  rgb( 050, 225, 020 );
  --hard-green-x-dark:   rgb( 060, 235, 030 );
  --hard-green-dark:     rgb( 070, 245, 040 );
  --hard-green:          rgb( 080, 255, 050 );
  --hard-green-light:    rgb( 090, 255, 060 );
  --hard-green-x-light:  rgb( 100, 255, 070 );
  --hard-green-xx-light: rgb( 110, 255, 080 );
}

/*** Hard green ***/

/*** Soft green ***/

:root {
  --soft-green-xx-dark:  rgb( 050, 225, 110 );
  --soft-green-x-dark:   rgb( 060, 235, 120 );
  --soft-green-dark:     rgb( 070, 245, 130 );
  --soft-green:          rgb( 080, 255, 140 );
  --soft-green-light:    rgb( 090, 255, 150 );
  --soft-green-x-light:  rgb( 100, 255, 160 );
  --soft-green-xx-light: rgb( 110, 255, 170 );
}

/*** Soft green ***/
/***** Green palette *****/
