
/***** White palette *****/
/*** Hard white ***/

:root {
  --hard-white-xx-dark:  rgb( 225, 225, 225 );
  --hard-white-x-dark:   rgb( 230, 230, 230 );
  --hard-white-dark:     rgb( 235, 235, 235 );
  --hard-white:          rgb( 240, 240, 240 );
  --hard-white-light:    rgb( 245, 245, 245 );
  --hard-white-x-light:  rgb( 250, 250, 250 );
  --hard-white-xx-light: rgb( 255, 255, 255 );
}

/*** Hard white ***/

/*** Soft white ***/

:root {
  --soft-white-xx-dark:  rgb( 190, 190, 190 );
  --soft-white-x-dark:   rgb( 195, 195, 195 );
  --soft-white-dark:     rgb( 200, 200, 200 );
  --soft-white:          rgb( 205, 205, 205 );
  --soft-white-light:    rgb( 210, 210, 210 );
  --soft-white-x-light:  rgb( 215, 215, 215 );
  --soft-white-xx-light: rgb( 220, 220, 220 );
}

/*** Soft white ***/
/***** White palette *****/
